%h2
  All Your Interviews
  .btn.btn-primary= link_to 'Create New QuestionSet', new_interview_path, :class=> 'btn-primary'
- if @user.question_sets.empty?
  %div.no_interviews
    No Interviews set up, #{link_to "create one now", new_interview_path}
-else
  %ul
    - @user.question_sets.each do |user|
      %li.interview  #{link_to user.name, user}
