.span12
	%h1.page-title
		Welcome to Repart&eacute;e
.span12
	.widget
		.widget-header
			.icon.icon.th.list
			%h3 Use Bowsprit To Conduct Interviews
		.widget-content
			.screenshot
				= image_tag 'screenshot.png'
			.explanation
				:markdown
					Most survey apps and libraries are designed to let you send the survey for someone to fill in on their own.

					But I wanted an app I could use when I'm in the room with the person, listening to their answers.

					I couldn't find anything that behaved in that manner, so I built Repart&eacute;e

					Feel free to sign up, poke around and [let me know what you think](mailto:john@johnksawers.com)

					Or [file a bug in GitHub](https://github.com/johnksawers/Bowsprit/issues)

					Keep in mind this is very much beta software.