.span12
	.widget
		.widget-header
			%i.icon-th-large
			%h3 Choose Your Plan
		.widget-content
			.pricing-plans.plans-4
				.plan-container
					.plan
						.plan-header
							.plan-title Micro
							.plan-price
								%span.note $
								15
								%span.term Per Month
						.plan-features
							%ul
								%li
									%strong Free setup
								%li
									%strong 1
									Website
								%li
									%strong 2
									Projects
								%li
									%strong 1GB
									Storage
								%li
									%strong $0
									Google Adwords Credit
						.plan-actions
							%a.btn{:href => "javascript:;"} Purchase Now

				.plan-container
					.plan
						.plan-header
							.plan-title
								Starter
							.plan-price
								%span.note $
								35
								%span.term Per Month
						.plan-features
							%ul
								%li
									%strong Free setup
								%li
									%strong 5
									Website
								%li
									%strong 10
									Projects
								%li
									%strong 5GB
									Storage
								%li
									%strong$25
									Google Adwords Credit
						.plan-actions
							%a.btn{:href => "javascript:;"} Purchase Now
				.plan-container
					.plan.orange
						.plan-header
							.plan-title
								Business
							.plan-price
								%span.note $
								75
								%span.term Per Month
						.plan-features
							%ul
								%li
									%strong Free setup
								%li
									%strong 20
									Website
								%li
									%strong 35
									Projects
								%li
									%strong Unlimited
									Storage
								%li
									%strong $65
									Google Adwords Credit
						.plan-actions
							%a.btn{:href => "javascript:;"} Purchase Now
				.plan-container
					.plan
						.plan-header
							.plan-title
								Enterprise
							.plan-price
								%span.note $
								125
								%span.term Per Month
						.plan-features
							%ul
								%li
									%strong Free setup
								%li
									%strong Unlimited
									Website
								%li
									%strong Unlimited
									Projects
								%li
									%strong Unlimited
									Storage
								%li
									%strong $95
									Google Adwords Credit
						.plan-actions
							%a.btn{:href => "javascript:;"} Purchase Now
