.span12
	.widget
		.widget-header
			%i.icon-th-large
			%h3 Choose Your Plan
		.widget-content
			.pricing-plans.plans-4
				.plan-container
					.plan
						.plan-header
							.plan-title Super-Tiny
							.plan-price
								%span.note $
								0
								%span.term Per Month
						.plan-features
							%ul
								%li
									%strong Free setup
								%li
									%strong 1
									Tribble
								%li
									%strong 2
									Flux-Capacitors
								%li
									%strong 1 THz
									Oscillation Overthruster
								%li
									%strong 1
									Vegemite Sandwich
						.plan-actions
							%a.btn{:href => "javascript:;"} Get Down - Get Funky

				.plan-container
					.plan
						.plan-header
							.plan-title
								Ortolan
							.plan-price
								%span.note $
								0
								%span.term Per Month
						.plan-features
							%ul
								%li
									%strong Free setup
								%li
									%strong 5
									Tribbles
								%li
									%strong 10
									Flux-Capacitors
								%li
									%strong 15 THz
									Oscillation Overthruster
								%li
									%strong 25
									Vegemite Sandwiches
						.plan-actions
							%a.btn{:href => "javascript:;"} Tell It To My Heart
				.plan-container
					.plan.orange
						.plan-header
							.plan-title
								Bland
							.plan-price
								%span.note $
								0
								%span.term Per Month
						.plan-features
							%ul
								%li
									%strong Free setup
								%li
									%strong 20
									Tribbles
								%li
									%strong 35
									Flux-Capacitors
								%li
									%strong 50 THz
									Oscillation Overthruster
								%li
									%strong 100
									Vegemite Sandwiches
						.plan-actions
							%a.btn{:href => "javascript:;"} Danger Zone
				.plan-container
					.plan
						.plan-header
							.plan-title
								Mega-Burrito
							.plan-price
								%span.note $
								0
								%span.term Per Month
						.plan-features
							%ul
								%li
									%strong Free setup
								%li
									%strong Unlimited
									Tribbles
								%li
									%strong 50
									Flux-Capacitors
								%li
									%strong 100 THz
									Oscillation Overthruster
								%li
									%strong 225
									Vegemite Sandwiches
						.plan-actions
							%a.btn{:href => "javascript:;"} Total Eclipse of the Heart
