/*
 *= require bootstrap
 *= require _font-awesome
 *= require fonts
 *= require base-admin-theme/_bootstrap_and_overrides
 *= require base-admin-theme/base-admin
 *= require base-admin-theme/base-admin-responsive
 *= require_tree ./pages
 *= require_self
*/

.content {
  background-color: #eee;
  padding: 20px;
  margin: 0 -20px; /* negative indent the amount of the padding to maintain the grid system */
  -webkit-border-radius: 0 0 6px 6px;
  -moz-border-radius: 0 0 6px 6px;
  border-radius: 0 0 6px 6px;
  -webkit-box-shadow: 0 1px 2px rgba(0,0,0,.15);
  -moz-box-shadow: 0 1px 2px rgba(0,0,0,.15);
  box-shadow: 0 1px 2px rgba(0,0,0,.15);
}

// Variables
$link-color: #0085db;
$link-color-light: lighten($link-color, 20%);
$body-text-color: #000000;
$small-label-text: 12px;

body{
	background: image-url('escheresque.png') repeat scroll 0 0 #FFFFFF;
}

ul {
	list-style-type: none;
	margin: 0;
	padding: 0;
}

textarea {
	width: 100%;
	height: 200px;
}

a {
	color: $link-color;
}

.page-title {
	line-height: auto;
	margin:5px
}

.subnavbar {
	margin-bottom: 5px;
}

.widget-header a {
	float: right;
}

.widget-header{
	height: auto;
}

.interview-list li,
.question-set-list li,
.question-list li,
.answer-list li {
	background-color: #FFFFFF;
	border-bottom: 1px solid #CCCCCC;
	padding: 10px;
	color: $body-text-color;
	font-size: 14px;
}

.btn-right {
	float: right;
}

.edit-btn {
	font-size: 16px;
	position: relative;
	top: 2px;
}

.edit-btn:hover {
	text-decoration: none;
}

.edit_inset{
	background-color: #E1E1E1;
	border-bottom: 1px solid #CCCCCC;
	box-shadow: 0 10px 15px -17px #777777 inset;
	padding: 20px;
}

.point_at_button{
	font-size: 40px;
}

.help-block{
	color: #AAAAAA;
	font-size: $small-label-text
}

.navbar .app-name{
	color: $link-color;
	font: 600 30px 'Dosis','Open Sans',Verdana, Arial, sans-serif;
	display: block;
	float: left;
	margin-left: 20px;
}

.navbar-brand {
	color: $link-color;
}

.navbar-right{
	margin-top: 10px;
}

.subnavbar .subnavbar-inner .container ul li.active > a{
	color: $link-color;
}



.logo{
	color: $link-color;
	font-size: 30px;
	display: block;
	float: left;
}

.logo .icon-user{
	margin-right: -5px;
}

.logo .icon-comments{
	margin: 5px -5px 0 0;
}

.status-hover{
	background-color: green;
	color: #FFFFFF;
	border-radius: 15px 15px 15px 15px;
	left: 400px;
	margin-left: auto;
	margin-right: auto;
	padding: 30px 15px 0;
	position: fixed;
	text-align: center;
	top: -35px;
	z-index: 99;
}