%header.navbar.navbar-fixed-top
	%nav.navbar-inner
		.container
			.app-title
				%a.logo{:href => root_path}
					.icon-user
					.icon-comments
					.icon-user
				%a.app-name{:href => root_path}
					Repart&eacute;e
			- if user_signed_in?
				.nav-collapse
					%ul.nav.pull-right
						%li
							= link_to current_user.name, edit_user_registration_path
				-#%form.navbar-search.pull-right
				-#	%input.search-query{:type => "text", :placeholder => "Search"}