.subnavbar
	.subnavbar-inner
		.container
			%ul.mainnav
				- if user_signed_in?
					%li{class: (request.fullpath == root_path) && 'active'}
						%a{:href => root_path}
							.icon.icon-dashboard
							%span Dashboard
					%li{class: (request.fullpath == faq_path) && 'active'}
						%a{:href => faq_path}
							.icon.icon-pushpin
							%span FAQ
					%li{class: (request.fullpath == about_path) && 'active'}
						%a{:href => about_path}
							.icon.icon-beaker
							%span About
					%li{class: (request.fullpath == edit_user_registration_path) && 'active'}
						%a{:href => edit_user_registration_path}
							.icon.icon-wrench
							%span Account Info
					%li
						%a{:href => sign_out_path}
							.icon.icon-signin
							%span Sign Out
				- else
					%li{class: (request.fullpath == root_path) && 'active'}
						%a{:href => root_path}
							.icon.icon-home
							%span Home
					%li{class: (request.fullpath == about_path) && 'active'}
						%a{:href => about_path}
							.icon.icon-beaker
							%span About
					%li{class: (request.fullpath == pricing_path) && 'active'}
						%a{:href => pricing_path}
							.icon.icon-bar-chart
							%span Pricing Plans
					%li{class: (request.fullpath == sign_in_path) && 'active'}
						%a{:href => sign_in_path}
							.icon.icon-signout
							%span Sign In
					%li{class: (request.fullpath == sign_up_path) && 'active'}
						%a{:href => sign_up_path}
							.icon.icon-upload
							%span Sign Up
