.subnavbar
	.subnavbar-inner
		.container
			%ul.mainnav
				- if user_signed_in?
					%li.active
						%a{:href => root_path}
							.icon.icon-dashboard
							%span Dashboard
				%li
					%a{:href => './faq.html'}
						.icon.icon-pushpin
						%span FAQ
				%li
					%a{:href => './pricing.html'}
						.icon.icon-bar-chart
						%span Pricing Plans
				%li
					%a{:href => edit_user_registration_path}
						.icon.icon-wrench
						%span Settings
				- if user_signed_in?
					%li
						%a{:href => destroy_user_session_path}
							.icon.icon-signin
							%span Log Out
				- else
					%li
						%a{:href => new_user_session_path}
							.icon.icon-signout
							%span Log In
					%li
						%a{:href => new_user_registration_path}
							.icon.icon-upload
							%span Sign Up
